<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-ml-text" version="3.1.0">

    <name>Mltext</name>

    <engines>
        <engine name="cordova-android" version=">=6.4.0" />
    </engines>

    <asset src="www/gettext.js" target="js/gettext.js" />

    <js-module src="www/gettext.js" name="gettext">
        <clobbers target="mltext" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mltext">
                <param name="android-package" value="com.neutrinos.mltextplugin.Mltext" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="ocr" />
        </config-file>

        <source-file src="src/android/Mltext.java" target-dir="src/com/neutrinos/mltextplugin/" />
        <framework src="com.google.mlkit:text-recognition-japanese:16.0.0-beta4" />

    </platform>

</plugin>
